<?xml version="1.0" encoding="UTF-8"?>
<!--
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
   -->

<bindings id="simplels-menu-bindings"
          xmlns="http://www.mozilla.org/xbl"
          xmlns:xul="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"
          xmlns:xbl="http://www.mozilla.org/xbl">

    <binding id="menuitem-iconic-locale"
             extends="chrome://global/content/bindings/menu.xml#menuitem">
        <content>
            <xul:hbox class="menu-iconic-left"
                      align="center"
                      pack="center"
                      xbl:inherits="selected,_moz-menuactive,disabled,checked">
                <xul:image class="menu-iconic-icon"
                           xbl:inherits="src=image,validate,src"/>
            </xul:hbox>
            <xul:label class="menu-iconic-text"
                       flex="1"
                       xbl:inherits="value=label,accesskey,crop"
                       crop="right"/>
            <xul:hbox class="menu-accel-container" anonid="accel">
                <xul:label class="menu-iconic-accel"
                           xbl:inherits="value=acceltext"/>
            </xul:hbox>
        </content>
    </binding>

</bindings>
