/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* Improve the absurd default layout of the toolbar button in Firefox (pre
 * Australis) */
#main-window toolbar:not([grippytooltiptext]) #simplels-button {
    -moz-box-orient: horizontal;
}
#main-window toolbar[mode="full"]:not([grippytooltiptext]) #simplels-button {
    -moz-binding: url(
        "chrome://global/content/bindings/toolbarbutton.xml#menu-vertical");
}


#simplels-button-popup > .simplels-locale {
    -moz-binding: url(
        "chrome://simplels/content/menu.xml#menuitem-iconic-locale");
}


#simplels-button[descriptions="true"] .simplels-locale-desc-placeholder,
#simplels-button:not([descriptions="true"]) .simplels-locale-desc {
    display: none;
}
#simplels-widget-view[descriptions="true"] .simplels-locale::after {
   content: attr(description);
}
