/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* Icon for the toolbar button: defaults */
#simplels-button {
    list-style-image: url("chrome://simplels/skin/button.png");
}
toolbar[iconsize="small"] #simplels-button {
    list-style-image: url("chrome://simplels/skin/button-small.png");
}


/* Icon for the toolbar button: Thunderbird.
 * Thunderbird 52 uses small monochrome icons as the unique supported choice,
 * but it still has set the toolbar[iconsize="large"] attribute, so we ignore
 * it, but then it maybe doesn't mix very well with some complete themes. */
:-moz-any(#mail-toolbox, #navigation-toolbox) #simplels-button {
    list-style-image: url("chrome://simplels/skin/button-small.png");
}

/* Icon for the toolbar button: SeaMonkey with default theme */
toolbar[grippytooltiptext] #simplels-button {
    list-style-image: url("chrome://simplels/skin/button-suite.png");
}
toolbar[iconsize="small"][grippytooltiptext] #simplels-button {
    list-style-image: url("chrome://simplels/skin/button-suite-small.png");
}



/* Tooltip of the toolbar button */
#simplels-button-tooltip {
    max-width: none;
}
#simplels-button-tooltip-title {
    margin-bottom: 0.7em;
}
#simplels-button-tooltip-selected-about {
    font-style: italic;
}


#simplels-button-tooltip[conflicting="false"] #simplels-button-tooltip-selected,
#simplels-button-tooltip-current,
.simplels-locale[current="true"] > .toolbarbutton-text,
.simplels-locale[current="true"] > .menu-iconic-text {
    font-weight: bold;
}


/* It's redundant with the default theme, but a lot of complete themes lack
 * the appropriate support for xul descriptions. */
.simplels-locale-desc {
    font-style: italic;
}
