/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


#simplels-button {
    list-style-image: url("chrome://simplels/skin/button.png");
}
toolbar[iconsize="small"] #simplels-button,
#simplels-button[cui-areatype] {
    list-style-image: url("chrome://simplels/skin/button-small.png");
}
#simplels-button[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #simplels-button {
    list-style-image: url("chrome://simplels/skin/button-big.png");
}


/* Improve the absurd default layout of the toolbar button (Firefox only,
 * pre Australis) */
#main-window #simplels-button:not([cui-areatype]) {
    -moz-box-orient: horizontal;
}
#main-window toolbar[mode="full"] #simplels-button:not([cui-areatype]) {
    -moz-binding: url(
        "chrome://global/content/bindings/toolbarbutton.xml#menu-vertical");
}


#simplels-button-tooltip {
    max-width: none;
}
#simplels-tooltip-title {
    margin-bottom: 0.7em;
}
#simplels-tooltip-selected-about {
    font-style: italic;
}


#simplels-button-tooltip[conflicting="false"] #simplels-tooltip-selected,
#simplels-tooltip-current,
.simplels-locale[current="true"] > .toolbarbutton-text,
.simplels-locale[current="true"] > .menu-iconic-text {
    font-weight: bold;
}


#simplels-button[descriptions="true"] .simplels-locale-desc-placeholder,
#simplels-button:not([descriptions="true"]) .simplels-locale-desc {
    display: none;
}
#simplels-button-view[descriptions="true"] .simplels-locale::after {
   content: attr(description);
   float: right;
   font-style: italic;
   color: hsl(0,0%,50%);
   -moz-margin-start: 1ex;
}


/* It's redundant with the default theme, but a lot of themes lack
 * the appropriate support for xul descriptions. */
.simplels-locale-desc {
    font-style: italic;
}
